{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="ko-kr"> -->

<head>
    <title>프로필</title>
    <link href="../static/css/profile.css" rel="stylesheet">
    
</head>

<body>
    <div style="border-bottom :1px solid burlywood;">
        <div id="nav">

            <div class="tm-series-name">
                프로필
            </div>
        </div>
    </div>

    <section class="container">
        <div>
            <div class="profile">
                <img src={% static "img/no-image.png" %} alt="..." />
                <div class="tm-profile-text">
                    <div class="user-name">
                        <h1>{{author}}</h1>
                    </div>

                    <div class="tm-profile-num-info">
                        <div class="series_count">
                            <h6>시리즈</h6>
                            <p> {{author.series.count}} </p>
                        </div>
                        <div class="text_count">
                            <h6>토막글</h6>
                            <p> {{author.text.count}} </p>
                        </div>
                        <div class="follower">
                            <h6>팔로워</h6>
                            <p> {{author.follower_num}} </p>
                        </div>
                        <div class="following">
                            <h6>팔로잉</h6>
                            <p> {{user.following_num}} </p>
                        </div>
                        
                    </div>
                    <div class="date-of-make">
                        <img src={% static "img/calendar.png" %} alt="..." /> 
                        <div class="date">
                            개설일 : {{author.opening_date|date:"Y.m.d"}}
                        </div>
                    </div>
                    
                    <div class="sns">
                        <img src={% static "img/cloud-computing.png" %} alt="..." /> 
                        <div class="sns-link">
                            PAGE : {{author.page_link}}
                        </div>
                    </div>

                    <div class="sns">
                        <img src={% static "img/instagram.png" %} alt="..." /> 
                        <div class="sns-link">
                            SNS : {{author.sns_link}}
                        </div>
                    </div>
                    <div class="prefer_genre">
                        {%for genre in user.prefer_genre.all %}
                        <button type="button" class="btn btn-light">#{{genre}}</button>
                        {%endfor%}
                    </div>

                    <div class="introduce">
                        {{author.introduce}}
                    </div>
                </div>
            </div>

            <div class="list">
                <div class="all_list_title">
                    <span>시리즈 글</span>
                    <span>구독</span>
                </div>
            </div>

            {%for tmg in author.text.all %}
            <div class="all_TMtext">
                <div class="tmtext_list">
                    <img src="{% get_static_prefix %}{{tmg.text_cover}}"  alt="Hi!">
                    <div class="content">
                        <div class="tmtext">
                            <p id="series_name">{{tmg.series}}</p>
                            <div class="tmtext_info">
                                <P>{{tmg.text_title}}</P>
                                {% if tmg.main_sentence %}
                                <P> | </P>
                                <P>{{tmg.main_sentence}}</P>
                                {% endif%}
                            </div>
                        </div>
                        <div class="author_info_box">
                            <img src={% static "img/writer.png" %} alt="..." />
                            <div class="author-info-text-2">
                                <p id="author-name2">{{tmg.writer}}</p>
                                <div class="k">
                                    <p>{{tmg.date_of_write|date:"Y.m.d"}}</p>
                                    <p><img id="view" src={% static "img/view.png" %} alt="..." /> {{tmg.views_num}} </p>
                                </div>                        
                            </div>
                            <div class="heart_puls">
                                <img src={% static "img/heart.png" %} alt="..." />
                                <img src={% static "img/ellipsis.png" %} alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="all_TMtext">
                <div class="tmtext">
                    <p id="series_name">아직 시리즈가 없습니다...</p>
                    <div class="tmtext_info">
                        <P>당신의 첫 토막글</P>
                        <P> | </P>
                        <P>오늘 여기 작성해 보세요!</P>
                    </div>
                </div>
                <div class="author_info_box">
                    <img src={% static "img/writer.png" %} alt="..." />
                    <div class="author-info-text-2">
                        <p id="author-name2">토막글</p>
                        <div class="k">
                            <p>2020.00.00</p>
                            <p><img id="view" src={% static "img/view.png" %} alt="..." /> ! </p>
                        </div>                        
                    </div>
                    <div class="heart_puls">
                        <img src={% static "img/heart.png" %} alt="..." />
                        <img src={% static "img/ellipsis.png" %} alt="..." />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>

<!-- </html> -->
{% endblock %}