{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />


<body>
    <div  class="container center">
        <div class="login-content">
            {% comment %} <ui class="left"> {% endcomment %}
                <h1 class="left"> 토막글 회원가입</h1>
                <h5 class="left" style="color: #606060;">이메일로 회원가입을 하고 토막글에서 다양한 글을 만나봐요!</h5>
                <form method="POST" action="" enctype="multipart/form-data" class = "box" >
                    {% csrf_token %}
                    <table>
                        {{regi_form.as_table}}
                    </table>
                    <input type="submit" value="회원가입">
                </form>
            </div>
    </div>
</body>


{% endblock %}
