{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<body >
    <div class="container center" >
        <div class="login-content">
            {% comment %} <ui class="left"> {% endcomment %}
                <h1 class="left"> 토막글 로그인</h1>
                <br />
                <h5 class="left" style="color: #606060; margin : -5.5% 0 0 0;">토막글에서 다양한 글을 만나봐요!</h5>
            {% comment %} </ui> {% endcomment %}
            <form method="POST" action="">
                {% csrf_token %}
                <h3 class="left" style="color: #606060; margin : 10% -5% 0 0;">E-mail</h3>
                <input class= "signup_button"  type = "text" name = "email" maxlength= 100; placeholder="   tomaggeul@gmail.com"  size= "34" >
                <h3 class="left" style="color: #606060; margin : 10% -5.5% 0 0;">Password</h3>
                <input class= "signup_button" type = "password" name = "password" size="34" maxlength="100" placeholder="   ********"  >
                <h5 class="left" style="margin : 10% -10% 0 0;">계정이 없으세요?   *    <U>회원가입</U></h5>
                <h5 class="left" style="margin : 1% -10% 0 0;">비밀번호 재설정 * 계정찾기</h5>
                <h6 class="left" style="color: #909090; margin : 10% -10% 0 0;" > SNS로 로그인 및 회원가입 시 토막글의 이용약관과 </h6>
                <h6 class="left" style="color: #909090; margin : 0 -10% 0 0;"  >개인정보처리방침에 동의한 것으로 간주합니다. </h6>
                
                <input id="submit_signup" class="btn btn-primary btn-lg btn-block btn-yellow" type="submit" size="34" name="button2" value="로그인" style="width:310px;">
            </form>
        </div>
    </div>
</body>

{% endblock %}





