@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body{
    margin: 0 auto;
    padding: 50px;
    width: 700px;
    font-family: 'Do Hyeon', sans-serif;
}

/* 클래스 */
.form-check, .book-choice, .input-title, .tomag-introduce, .tomag-write, .input-genre, .enroll-cover{
    padding: 3px;
    margin-bottom: auto;
}

.book-choice{
    width: 600px;
}

.input-title{
    margin-bottom: auto;
}
.input-title-label{
    width: 600px;
    height: 30px;
    margin-bottom: auto;
}

.tomag-introduce{
    width: 600px;
}
.input-genre{
    width: 600px;
}

/* 책표지 등록 */
.enroll-cover-box{
    width: 180px;
    height: 230px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plus_btn{
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 5rem;
}

p{
    flex: 1;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}