@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.Do Hyeon * { 
    font-family: 'Do Hyeon', sans-serif;; 
}

html { 
  font-size:1vw; 
  
}

body {
  margin: 20px;
  padding: 30px;
}



.TMtext_table {
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

#product_list {
  color: black;
}

#product_list:hover {
  color: black;
}

#delivery_subscribe_list {
}

#delivery_subscribe_list:hover {
  color: black;
}

#subscribe_list {
}

#subscribe_list:hover {
  color: black;
}

#recomend_list {
}

#recomend_list:hover {
  color: black;
}

.all_TMtext_title {
  width: 80%;
  height: 30px;
  border-bottom: 2px solid #D3D3D3;
  flex-direction: column;
  align-items: left;
  margin-top: 5rem;
  margin-left: 10%;
}

.all_TMtext {
  width: 80%;
  height: 13rem;
  border-bottom: 2px solid #D3D3D3;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-left: 10%;
}

.all_TMtext > .first_area{
  float: left; 
  width: 12%; 
  height:13rem;
}

.all_TMtext > .second_area{
  float: left; 
  width: 45%;
  height: 80%;
  margin-top: 2%;
}

.all_TMtext > .third_area{
  float: left; 
  width: 40%;
  font-size: 2em;
  margin-top: 8%;
}

.all_TMtext > .third_area > .heart_icon{
  float: left;
  color: black;
}

.all_TMtext > .third_area > .heart_icon:hover{
  color: red;
}


.all_TMtext > .third_area > .show_more_icon{
  float: left;
  color: black;
}


#TM_title {
  font-weight: bold;
  font-size: 1rem;
  margin-top: 3%;
  margin-left: 1.5%;
  text-align: left;
}

#TM_main_content {
  margin-left: 1.5%;
  font-size: 1rem;
  text-align: left;
}

#TM_information {
  margin-top: 5%;
  margin-left: 1.5%;
  font-size: small;
  text-align: left;
}

.TopHeader {
  width: 100%;
  height: 20px;
  background: white;
  /* display:flex; */
  text-align: center;
  margin-bottom: 0px;
}

.search {
  margin-left: 50rem;
}

.nav-link {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  cursor: pointer;
  height: 50%;
}

.nav-link:hover {
  color: #deb887;
  border-bottom: 2px solid #deb887;
}


#topMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: inline-block;
  height: 70px;
  width: 100%;
  border-bottom: 0.1px solid #979797;
}

#topMenu ul li {
  list-style: none;
  color: white;
  background-color: white;
  float: left;
  line-height: 35px;
  height: 35px;
  vertical-align: middle;
  text-align: center;
}

#topMenu .menuLink {
  text-decoration: none;
  color: black;
  display: block;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Trebuchet MS", Dotum, Arial;
}

#topMenu .menuLink:hover {
  color: white;
  background-color: #4d4d4d;
}

#signup_button {
  background-color: #F7F7F7;
  border: 2px solid #979797;
  border-radius: 2;
  color: #979797;
  width: 250px;
  height: 30px;
}

div.left {
  width: 10%;
  float: left;
  box-sizing: border-box;
}

div.right {
  width: 10%;
  float: left;
  box-sizing: border-box;
}

.card_slide {
  background-color: #deb887;
  border-radius: 10px;
}

.card_area {
  width: 20%;
  height: 100%;
  color: white;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 5%;
  font-size: 1em;
}

#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  padding: 15px 20px;
  transform: translate(-50%, 10px);
  border-radius: 30px;
  overflow: hidden;
  visibility: hidden;
  font-size: .8rem;
  opacity: 0;
  font-weight: bold;
  transition: opacity .5s, visibility .5s, transform .5s;
  background: rgba(224, 109, 109, 0.35);
  color: #fff;
  z-index: 10000;
}

#toast.reveal {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0)
}

.a_tag {
  text-decoration:none; 
  color:#000000;
}