@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.DoHyeon * { 
    font-family: 'Do Hyeon', sans-serif;
}

html, body{
    margin: 0;
    height: 100vh;
    width: 100%;
}

#main{
    margin-left: 40vh;
    margin-right: 40vh;
}

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    visibility: hidden;
    font-size: .8rem;
    opacity: 0;
    font-weight: bold;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(224, 109, 109, 0.35);
    color: #fff;
    z-index: 10000;
  }
  
  #toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
  }
  


.back-btn-wrapper{
    /* 위치 설정*/
    position: absolute;
    left: 35vh;
    top: 5px;
}

.back-btn-wrapper > i{
    font-size: 30px;
    color: black;
}

.tm-series-name{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

.profile{
    /* 위치 설정*/
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: row;
    border-bottom :1px solid burlywood;
}

.prefer_genre > button{
    box-sizing: border-box;
    height: 20px;
    font-size: 10px;
    text-align: center;
    left: 0;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile > img{
    height: 300px;
    width: 250px;
    margin-left: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.tm-profile-text > h2{
    font-weight: bold;
}

.tm-profile-text{
    box-sizing: border-box;
    width: 400px;
    margin-top: 38px;
    height: 300px;
    margin-left: 40px;
    margin-top: 25px;
}

.user-name{
    position: relative;
    display: flex;
    flex-direction: row;
    /* width: 100px; */
}

.user-name > button{
    height: 25px;
    width: 75px;
    font-size: 10px;
    margin-left: 40px;
    margin-top: 15px;
    padding:2px 5px;
}

.user-name > a > button{
    height: 25px;
    width: 75px;
    font-size: 10px;
    margin-left: 10px;
    margin-top: 15px;
}

.tm-profile-num-info{
    position: relative;
    display: flex;
    flex-direction: row;   
    width: 400px;
    font-weight: bolder;
    margin-left:-15px;
}

.series_count > h6{
    font-weight: bolder;
}

.text_count > h6{
    font-weight: bolder;
}

.follower > h6{
    font-weight: bolder;
}

.following > h6{
    font-weight: bolder;
}

.series_count{
    text-align: center;
    width: 80px;
    height: 55px;
    border-right: 0.5px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_count{
    text-align: center;
    width: 80px;
    height: 55px;
    border-right: 0.5px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_count > p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.follower{
    text-align: center;
    width: 80px;
    height: 55px;
    border-right: 0.5px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.follower > p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
}

.following{
    text-align: center;
    width: 80px;
    height: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.following > p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 10px;
}


.series_count > p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-right: 10px;
}

.date-of-make{
    position: relative;
    display: flex;
    flex-direction: row;
}

.date-of-make > img{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    /* margin-left: 25px; */
}

.date{
    font-size: 12px;
    font-weight: bolder;
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(73, 73, 73);
}

.sns{
    position: relative;
    display: flex;
    flex-direction: row;
}

.sns > img{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    /* margin-left: 25px; */
}

.sns-link{
    font-size: 12px;
    font-weight: bolder;
    margin-top: 8px;
    margin-left: 10px;
    color: rgb(73, 73, 73);
}

.all_list_title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    border-bottom :1px solid burlywood;
}

.all_list_title > span{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.tmtext_list{
    position: relative;
    display: flex;
    flex-direction: row;
}

.tmtext_list > img{
    /* width: 80px; */
    height: 110px;
    margin-left: 30px;
    margin-top: 10px;
}

.all_TMtext{
    width: 100%;
    height: 130px;
    border-bottom :0.5px solid burlywood;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.content {
    width: auto;
}

.tmtext{
    margin-left: 25px;
}

#series_name{
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 0;
}

.tmtext_info{
    font-size: 13px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.tmtext_info > p{
    margin-left: 3px;
    margin-right: 3px;
}

.author_info_box > img{
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
    border-radius: 100px;
    margin-top: 3px;
}

.author_info_box{
    margin-left: 25px;
    position: relative;
    display: flex;
    flex-direction: row;
}

#view{
    width: 10px;
    height: 10px;
}

.author-info-text-2{
    width: 240px;
    font-size: 12px;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 3px;
}

.k{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.k > p{
    margin-left: 3px;
    margin-right: 3px;
}

#author-name2{
    font-weight: bolder;
    font-size: 13px;
    margin-bottom: 2px;
}

.heart_puls > img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.heart_puls{
    margin-left: 95vh;
}