{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">
<head>
  <script type = "text/javascript">
    function Visible(){
      var isSeries = document.getElementById("Series-Name");
      if (isSeries.style.display == 'none'){
        isSeries.style.display = 'block';
      }else{
        isSeries.style.display = 'none';
      }
    }
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/createText.css' %}">
    <title>토막글 글생성</title>
</head>
<body>
    <form method="POST" action="">
      {% csrf_token %}
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="javascript:Visible()" checked>
            <label class="form-check-label" for="defaultCheck1">
              기존의 책에 토막글 만들기
            </label>
         </div><br>
        {{tmtext_form.as_p}}
        <input type="submit" value="글 작성">
    </form>
</html>