<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <title> 토막글 시리즈 추가 </title>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class="popup  app-genre model-genre change-form" data-admin-utc-offset="32400">
    <!-- Container -->
    <div id="container">
        <div class="main shifted" id="main">
            <div class="content">
                <!-- Content -->
                <div id="content" class="colM">
                    <h1>시리즈 추가</h1>
                    <div id="content-main">
                        <form method="post" id="series_form" novalidate><input type="hidden" name="csrfmiddlewaretoken"
                                value="eUvN7GXGk1mgfrTBxs0HZHqQG9bjPG9HYIc7Nle4wakzLoRGzw7yCAdL2hA8ZoTs">
                                {% csrf_token %}
                            <div>
                                <input type="hidden" name="_popup" value="1">
                                <input type="hidden" name="_to_field" value="id">
                                <fieldset class="module aligned ">
                                    <div class="form-row field-name">
                                        <div>
                                            <label class="required" for="id_name">Series Name : </label>
                                            <input type="text" name="name" class="vTextField" maxlength="20" required
                                                id="id_name">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="submit-row">
                                    <input type="submit" value="저장" class="default" name="_save">
                                </div>
                            </div>
                        </form>
                    </div>
                    <br class="clear">
                </div>
                <!-- END Content -->
                <div id="footer"></div>
            </div>
        </div>
    </div>
    <!-- END Container -->
</body>

</html>