{% extends 'navbar.html' %}
{% load static %}
{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="ko-kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/createText.css' %}">
  <title>토막글 글생성</title>
</head>

<body>
  <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- 제목, 소개, 쓰기 Form -->
    <div class="text-form">
      {{tmtext_form.as_p}}
    </div>

    <!-- 장르 다중 선택 -->
    <label class="genre-label"> 장르 </label>
    <div class="genre">
      <select class="input-genre-select" id="genre" name="text_genre" multiple="multiple">
        {% for value in genre %}
        <option value={{value.id}}>{{value}}</option>
        {% endfor %}
      </select>
      <p>토막글과 어울리는 장르를 입력해주세요. 자유롭게 입력하실 수 있지만, 메인 페이지에서 보여주는 장르는</p>
      <p>#ooo #ooo #ooo #ooo #ooo 입니다.</p>
    </div><br>

    <!-- 책 표지 등록하기 -->
    <div class="enroll-cover">
      <label class="enroll-cover-label" for="enroll-cover">책 표지 등록하기</label>
      <div class="enroll-cover-box">
        <a href="">
          <div class="plus_btn">
            <label for="ex_file"> + </label>
            <input type="file" id="ex_file">
          </div>
        </a>
      </div>
    </div>

    <!-- 제출 버튼 -->
    <input type="submit" value="글 작성">
  </form>

</html> {% endcomment %}
{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/createText.css">
  <title>토막글 글생성</title>
</head>

<body>
  <form method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken"
      value="YUjcDDRtbLHhIUhHWtsP8k7y97CV9rbg5wPITBn4rVROk3mZbsnXXbOoyr8VcY3S">

    <div class="title">

    <!-- 제목, 소개, 쓰기 Form -->
    <div class="text-form">
      <p><label for="id_text_title">토막글 제목</label></p>
       <p><input type="text" name="text_title" required placeholder="토막글 제목"
          class="input-title" maxlength="30" id="id_text_title"></p><br>

      <p><label for="id_main_sentence">토막글 소개</label></p>
      <p><textarea name="main_sentence" cols="40" rows="5" required
          placeholder="토막글 소개" class="tomag-introduce" maxlength="200" id="id_main_sentence">
      </textarea></p><br>

      <p><label for="id_text_content">토막글 쓰기</label></p>
      <p><textarea name="text_content" cols="40" rows="15" required
          placeholder="토막글 쓰기" class="tomag-write" maxlength="1000" id="id_text_content">
      </textarea></p><br>

      <!-- 책 선택하기 Form -->
      <p><label for="book-choice">책 선택하기</label></p>
      <p><select name="series" required class="book-choice" id="book-choice">
          <option value="" selected>책 선택 안함</option></p>
        </select></p>
    </div>

    <!-- 장르 다중 선택 -->
    <label class="genre-label"> 장르 </label>
    <div class="genre">
      <select class="input-genre-select" id="genre" name="text_genre" multiple="multiple">

      </select>
      <p>토막글과 어울리는 장르를 입력해주세요. 자유롭게 입력하실 수 있지만, 메인 페이지에서 보여주는 장르는</p>
      <p>#ooo #ooo #ooo #ooo #ooo 입니다.</p>
    </div><br>

    <!-- 책 표지 등록하기 -->
    <div class="enroll-cover">
      <label class="enroll-cover-label" for="enroll-cover">책 표지 등록하기</label>
      <div class="enroll-cover-box">
        <a href="">
          <div class="plus_btn">
            <label for="ex_file"> + </label>
            <input type="file" id="ex_file">
          </div>
        </a>
      </div>
    </div>

    <!-- 제출 버튼 -->
    <input type="submit" value="글 작성">
  </form>

</html>
{% endblock %}
