{% load static %}
<!DOCTYPE html>


<html lang="ko-kr">

<head>
  <meta charset="UTF-8">
  <title>토막글</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" type="text/css" href="{%static 'css/mainpage.css'%}">

  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    .swiper-container {
      width: 90%;
      height: 300px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      border-radius: 10px;
      width: 100px;
      height: 80%;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
  </style>
</head>

<body>

<header class="TopHeader">
    <nav id="topMenu">
      <ul>
        <li><a class="menuLink" href="#">토막글</a></li>
        <li><a class="menuLink" href="#">홈</a></li>
        <li><a class="menuLink" href="#" style="color: #606060;">분야별</a></li>
        <li><a class="menuLink" href="#" style="color: #606060;">인기작품</a></li>
        <img src={% static "img/search.png" %} alt="검색" style="width: 30px;">
        <li><input class="search" type="text" name="검색" size="20" maxlength="100" height="200" value="검색"></li>
        <li><a href={% url 'signin' %}><input id="button_signin" type="button" name="button1" value="로그인"></a></li>
        <li class="smallblank"></li>
        <li><a href={% url 'user_register' %}><input id="button_signup" type="button" name="button2" value="회원가입"></a>
        </li>
      </ul>
    </nav>
  </header> 


  <!-- 여기 부터 순수 main page -->
  <div class="wholebody">

    <div class="genre_section" style="height: 70px; "> <!-- overflow: hidden; -->
      <ul class="nav justify-content-center">
        {% for genre in all_genre %}
        <li class="nav-item">
          <p class="nav-link">{{genre}}</p>
        </li>
        {% endfor %}

      </ul>
    </div>

    <div class="card_slide" style="height: 80%;">
      <!--금주의 인기작-->
      

      <div class="card_area">
        <p>금주의 인기작</p>
      </div>


      <div class="swiper-container">
        <div class="swiper-wrapper">
        {% for tomaggeul in all_tmtext %}
          <div class="swiper-slide">
          
            <div style="width:20%; overflow: hidden; display: flex;align-items: center; justify-content: center;width: 300px; height: 300px;">
              <div>
                <img src={{tomaggeul.text_cover.url}} alt="..." style="max-width: 1rem%; height: 5rem;" />
              </div>
            </div>
            <div style="width:70%;">
              <div class="second_area">
                <div id="TM_title">
                  {{tomaggeul.text_title}}
                </div>
                <div id="TM_main_content">
                  <p>{{tomaggeul.main_sentence}}</p>
                </div>
                <div id="TM_information">
                  <p>{{tomaggeul.series}} by {{tomaggeul.writer}}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>

    </div>

    <!--모든 토막글-->

    <div class="TMtext_area">

      <div class="all_TMtext_title">

        <div>
          <table class="TMtext_table" style="float: left;">
            <tr>
              <td id="product_list">모든 작품</td>
              <td>&nbsp;|&nbsp;</td>
              <td id="delivery_subscribe_list">배송 구독</td>
              <td>&nbsp;|&nbsp;</td>
              <td id="subscribe_list">구독</td>
              <td>&nbsp;|&nbsp;</td>
              <td id="recomend_list">추천</td>
            </tr>
          </table>
        </div>
        <div style="float: right; font-weight:bold;">
          <table class="TMtext_table" style="float: left;">
            <tr>
              <td><a href="#">최신순&nbsp;▽</a></td>
            </tr>
          </table>
        </div>
      </div>

      {% for tomaggeul in all_tmtext %}
      <div class="all_TMtext">

        <div class="first_area">
          <img src={{tomaggeul.text_cover.url}} alt="..." style="margin-top:18%; max-width: 100%; height: auto;" />
        </div>
        <div class="second_area">
          <div id="TM_title">
            {{tomaggeul.text_title}}
          </div>
          <div id="TM_main_content">
            <p>{{tomaggeul.main_sentence}}</p>
          </div>
          <div id="TM_information">
            <p>
              {%if tomaggeul.series%}
                {{tomaggeul.series.series_title}}, 
              {%endif%}
              {{tomaggeul.writer.author_name}}
            </p>
          </div>

        </div>
        <div class="third_area">
        <div class="heart_icon">♡</div>
        <div class="show_more_icon">&nbsp;&nbsp;&nbsp;…</div>
        </div>


        <!--
        <div>
          <div class="left"><img src={% static "img/no-image.png" %} alt="..." style=" width:150px;heigth:200px;" />
          </div>
          <div class="right">
            <p>제목 : {{tomaggeul.text_title}}<br></p>

            <P>{{tomaggeul.main_sentence}}</P>

            <P>
              {% for genre in tomaggeul.text_genre.all %}
              {{genre}}
              {% endfor %}
            </P>

            <P>작가 : {{tomaggeul.writer}}</P>
          </div>
        </div>
        -->
      </div>

      {% endfor %}
    </div>
  </div>
  </div>



  <script type="module">
    import Swiper from 'https://unpkg.com/swiper/swiper-bundle.esm.browser.min.js'
    const swiper = new Swiper(...)
  </script>
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      freeMode: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>

</body>

</html>