{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<!--
<!DOCTYPE html>
<html lang="ko-kr">
-->


<head>
    <title>토막글 리스트</title>
    <link href="../static/css/tomaggeullist.css" rel="stylesheet">
</head>

<body>
    <div style="border-bottom :1px solid burlywood;">
    
        <div id="nav">
            <div class="tm-series-name">
                책제목
            </div>
        </div>

    </div>
    <div id="toast"></div>
    <section>
        <div id="main">
            <div class="tm-series-info">
                <img src={% static "img/no-image.png" %} alt="..." />
                <div class="tm-series-info-text">
                    <h2>{{series.series_title}}</h2>
                    <h6>{{series.writer}} | 총 {{series.tomag_num_total}}화</h6>
                    <p> </p>
                    <h6>{{series.introduce}}</h6>
                    <div class="tm-series-genre">
                        {%for genre in series.series_genre.all %}
                        <button type="button" class="btn btn-light">#{{genre}}</button>
                        {%endfor%}
                        
                    </div>
                    
                    <div class="tm-series-info-subscribe">
                        <button class=  {% if isSubs %} "btn btn-warning" 
                                        {% else %} "btn btn-outline-warning"
                                        {% endif %}

                            type="button" id='subs' onclick="subs({{series.series_id}})">구독</button>
                        
                        <div class="tm-series-info-first">
                            <button type="button" class="btn btn-outline-warning">첫화보기</button>
                        </div>
                    </div>
                </div>
                <div class="author-info">
                    <div class="info">
                        <div class="info-text">
                            <img src={% static "img/writer.png" %} alt="..." />
                            <div class="author-info-text">
                                <p id="author-name">{{series.writer}}</p>
                                <p>구독자 {{series.writer.follower_num}}명</p>
                            </div>
                        </div>
                        <div class="author-info-sentence">
                            {{series.writer.introduce}}
                        </div>
                        <div class="date-of-make">
                            <img src={% static "img/calendar.png" %} alt="..." /> 
                            <div class="date">
                                개설일 {{series.writer.opening_date|date:"Y.m.d"}}
                            </div>
                        </div>
                        <div class="sns">
                            <img src={% static "img/instagram.png" %} alt="..." /> 
                            <div class="sns-link">
                                {{series.writer.sns_link}}
                            </div>
                        </div>
                    </div>
                    <div class="tm-num-info">
                        <div class="view">
                            <img src={% static "img/view.png" %} alt="..." /> 
                            <p> {{series.views_num_total}} </p>
                        </div>
                        <div class="heart">
                            <img src={% static "img/heart.png" %} alt="..." /> 
                            <p> {{series.heart_num_total}} </p>
                        </div>
                        <div class="comment">
                            <img src={% static "img/comment.png" %} alt="..." /> 
                            <p> {{series.comment_num_total}} </p>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="all_TMtext_title">
                <p>{{series.tomag_num_total}}개의 포스트</p>
                <div class="sort_way">
                    <p>1화부터</p>
                    <p class="bar"> | </p>
                    <p>최신순</p>
                </div>
            </div>

            {% for tmg in series.text.all %}
            <div class="all_TMtext">
                <div class="tmtext">
                    <p id="series_name">{{series}}</p>
                    <div class="tmtext_info">
                        <P>{{tmg.text_title}}</P>
                        {% if tmg.main_sentence %}
                        <P> | </P>
                        <P>{{tmg.main_sentence}}</P>
                        {% endif%}
                    </div>
                </div>
                <div class="author_info_box">
                    <img src={% static "img/writer.png" %} alt="..." />
                    <div class="author-info-text-2">
                        <a href={% url 'profile' series.writer.author_name %}
            style="text-decoration:none; color:#000000;"><p id="author-name2">{{series.writer}}</p></a>
                        <div class="k">
                            <p>{{tmg.date_of_write|date:"Y.m.d"}}</p>
                            <p><img id="view" src={% static "img/view.png" %} alt="..." /> {{tmg.views_num}} </p>
                        </div>                        
                    </div>
                    <div class="heart_puls">
                        <img id="heart_{{t.text_id}}" 
                        onclick="it_sounds_good({{t.text_id}},'{{user.nickname}}')"
                        src=
                        {% if user in t.like_users.all %}
                            {% static "img/redheart.png" %}
                        {% else %}
                            {% static "img/heart.png" %}
                        {% endif %}
                         alt="..." />
                        <img src={% static "img/ellipsis.png" %} alt="..." />
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="all_TMtext">
                <div class="tmtext">
                    <p id="series_name">아직 시리즈가 없습니다...</p>
                    <div class="tmtext_info">
                        <P>당신의 첫 토막글</P>
                        <P> | </P>
                        <P>오늘 여기 작성해 보세요!</P>
                    </div>
                </div>
                <div class="author_info_box">
                    <img src={% static "img/writer.png" %} alt="..." />
                    <div class="author-info-text-2">
                        <p id="author-name2">토막글</p>
                        <div class="k">
                            <p>2020.00.00</p>
                            <p><img id="view" src={% static "img/view.png" %} alt="..." /> 7 </p>
                        </div>                        
                    </div>
                    <div class="heart_puls">
                        <img src={% static "img/heart.png" %} alt="..." />
                        <img src={% static "img/ellipsis.png" %} alt="..." />
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
</body>


<script type="text/javascript">
function subs(id) {
    var tmt_url = "/subscribe/" + id
    $.ajax({
        url: tmt_url,
        dataType: "json",
        success: function (data) {
            let removeToast;
            const toast = document.getElementById("toast");

            toast.classList.contains("reveal") ?
            (clearTimeout(removeToast), removeToast = setTimeout(function () {
                document.getElementById("toast").classList.remove("reveal")
            }, 1000)) :
            removeToast = setTimeout(function () {
                document.getElementById("toast").classList.remove("reveal")
            }, 1000)
            toast.classList.add("reveal"),
            toast.innerText = data['substext'];

            if ($('#subs').hasClass('btn-outline-warning')){
                $('#subs').addClass('btn-warning')
                $('#subs').removeClass('btn-outline-warning')
            }
            else {
                $('#subs').addClass('btn-outline-warning')
                $('#subs').removeClass('btn-warning')
            }
        },
        error: function (request, status, error) {
            alert("서버와 통신 원활하지 않음");
            window.location.replace("{% url 'main' %}")
        }
    });
}
</script>
<!-- </html> -->
{% endblock %}