{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">

{% for tm in tmtext %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{tm.text_title}}</title>
    <link href="../static/css/tomaggeul_detail.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- fontawesome cdn 아이콘 폰트 사용하기 위해서 필요합니다. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <div id="nav">
            <div class="back-btn-wrapper">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>

            <div class="tm-series-name">
                {{tm.text_title}}
            </div>
        </div>
    </header>
    <section>
        <div id="main">
            <div class="tmtext_info">
                <h6>{{tm.series}}</h6>
                <h3>{{tm.text_title}}</h3>
                <div class="author_info_box">
                    <!--작가 이미지 넣어줘야함-->
                    <img src={% static "img/writer.png" %} alt="..." />
                    <div class="author-info-text-2">
                        <p id="author-name2">{{tm.writer}}</p>
                        <div class="k">
                            <p>{{tm.date_of_write|date:"Y.m.d"}}</p>
                            <p><img id="view" src={% static "img/view.png" %} alt="..." /> {{tm.views_num}} </p>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="tmtext_content">
                {{tm.text_content}}
            </div>

            <div class="tmtext_genre">
                {%for genre in tm.text_genre.all%}
                <button type="button" class="btn btn-light">#{{genre}}</button>
                {% endfor %}
            </div>
            {% endfor %}

            <!--comment 들어가야함-->
            <div class="comment">
                <div class="comment_title">
                    <p>1개의 댓글</p>
                </div>
                <div class="comment_user">
                    <div class="row" style="width:100%;">
                        <div class="col-1">
                            <!--댓글 쓴 사용자 사진 넣기-->
                            <img src={% static "img/writer.png" %} alt="..." />
                        </div>
                        <div class="col-9">
                            <div class="comment_user_info">
                                <!--댓글 쓴 사용자 이름 넣기-->
                                <p id="comment_user_name">댓글 쓴 사람</p>
                                <!--댓글 내용 넣기-->
                                <p id="comment">가나다라마바사 댓글이에요.</p>
                            </div>
                        </div>
                        <div class="col-2">
                            <p id="comment_time">댓글 쓴 시간</p>
                            <button type="button" class="btn btn-outline-danger">삭제</button>
                        </div>
                    </div>                    
                </div>
                <div class="new_comment">
                    <div class="row" style="width:100%;">
                        <div class="col-9">
                            <input class="new_comment_input" type="text" name="댓글" size="100" maxlength="100"  value=" 댓글을 입력하세요.">
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-outline-secondary">입력</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</body>

</html>