{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<!-- <!DOCTYPE html> -->
<!-- <html lang="ko-kr"> -->

<head>
    <title>{{tmtext.text_title}}</title>
    <link href="../static/css/tomaggeul_detail.css" rel="stylesheet">
    
</head>

<body>
    <header>
        <div id="nav" style="border-bottom :1px solid burlywood;">

            <div class="tm-series-name">
                {{tmtext.text_title}}
            </div>
        </div>
    </header>
    <section class="container">
        <div class="container_padding">
            <div class="tmtext_info">
                <h6>{{tmtext.series}}</h6>
                <h3>{{tmtext.text_title}}</h3>
                <div class="author_info_box">
                    <!--작가 이미지 넣어줘야함-->
                    <img src={% static "img/writer.png" %} alt="..." />
                    <div class="author-info-text-2">
                        <p id="author-name2">{{tmtext.writer}}</p>
                        <div class="k">
                            <p>{{tmtext.date_of_write|date:"Y.m.d"}}</p>
                            <p><img id="view" src={% static "img/view.png" %} alt="..." /> {{tmtext.views_num}} </p>
                        </div>                        
                    </div>
                </div>
            </div>

            <div class="tmtext_content" id="innerDetail"
                >
                {{tmtext.text_content}}
                <!-- <script>
                    function onLoad(text) {
                        alert("tt")
                        $('#innerDetail').text(text)
                    }
                    // var parser = new DOMParser();
                    // var htmlDoc = parser.parseFromString(tmtext.text_content, 'text/html');
                    // document.getElementById("innerDetail").innerText="tt";
                </script> -->
            </div>

            <div class="tmtext_genre">
                {%for genre in tm.text_genre.all%}
                <button type="button" class="btn btn-light">#{{genre}}</button>
                {% endfor %}
            </div>

            
            <div class="comment">
                <div class="comment_title">
                    <p>{{tmtext.comment.count}}개의 댓글</p>
                </div>
                {%for tmt_c in tmtext.comment.all%}
                <div class="comment_user">
                    <div class="row" style="margin: 0; width: 100%;">
                        <div class="col-1">
                            <!--댓글 쓴 사용자 사진 넣기-->
                            <img src={% static "img/writer.png" %} alt="..." />
                        </div>
                        <div class="col-8">
                            <div class="comment_user_info">
                                <p id="comment_user_name">{{tmt_c.tmuser}}</p>
                                <!--댓글 내용 넣기-->
                                <p id="comment">{{tmt_c.comment_content}}</p>
                            </div>
                        </div>
                        <div class="col-3">
                            <p id="comment_time">{{tmt_c.date_of_comment}}</p>
                            {% if tmt_c.tmuser == user%}
                            <form method='post' action=''>
                                {% csrf_token %}
                                <button type="summit" class="btn btn-outline-danger" name='id' value={{tmt_c.id}}>삭제</button>
                            </form>
                            {%endif%}
                        </div>
                    </div>                    
                </div>
                {%endfor%}
                {% if user.is_authenticated %}
                <form method='post' action=''>
                    {% csrf_token %}
                    <div class="new_comment">
                        <input required='true' class="new_comment_input" type="text" name="comment" size="100" maxlength="100"  placeholder =" 댓글을 입력하세요.">
                        <button id="new_comment_btn" type="summit" class="btn btn-outline-secondary">입력</button>
                    </div>
                </form>
                {% endif%}
            </div>
        </div>
    </section>
    

</body>

<!-- </html> -->
{% endblock %}