@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.Do Hyeon * { 
    font-family: 'Do Hyeon', sans-serif;; 
}

.wrap-search{
    width:180px;
    position: relative;
    margin-right:-8%;
}
.bottom-line{
    border-bottom: 0.5px #979797 solid;
}
.search-box{
	position: absolute;
	top:50%;
	transform: translate(-50%,-50%);
	background : #deb887;
	height: 30px;
	border-radius: 50px;
	padding: 5px;
}
.nav-login--wrap{
	flex-direction: row !important;
}
@media screen and (max-width: 990px) {
    .search-box{
		left:10% !important;
	}
	.wrap-search{
		width:200px !important;
		margin-right:0 !important;
		margin: 30px 0 30px 48% !important;
	}
	.nav-login--wrap{
		flex-direction: row !important;
	}
	.nav-login--wrap > li{
		width:20%;
		margin:0 15%;
	}
	.nav-login--wrap > li > a > button{
		width:100%;
	}
}
.search-box:hover .search-txt{
	width: 150px;
	padding: 0 3px;
}

.search-box:hover .search-btn{
	background: #fff;
}


.search-btn{
	color:#e84118;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
    border:none;
}

.search-txt{
	border:none;
	outline: none;
	background: none;
	float: left;
	padding: 0;
	color:#fff;
	font-size: 10px;
	line-height: 20px;
	width: 0;
	transition: width 400ms;

}
.btn-yellow{
    background : #deb887;
    border: #8C4E30;
    color:white;
}
/* .collapse:not(.show) {
    display: block;
} */

.login-content{
    display:inline-block;
}