

.wrap-search{
    width:180px;
    position: relative;
    margin-right:-8%;
}

.search-box{
	position: absolute;
	top:50%;
	/* left: 0%; */
	transform: translate(-50%,-50%);
	background : #deb887;
	height: 30px;
	border-radius: 50px;
	padding: 5px;
}

.search-box:hover .search-txt{
	width: 150px;
	padding: 0 3px;
}

.search-box:hover .search-btn{
	background: #fff;
}


.search-btn{
	color:#e84118;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #F7F7F7;
	display: flex;
	justify-content: center;
	align-items: center;
    border:none;
}

.search-txt{
	border:none;
	outline: none;
	background: none;
	float: left;
	padding: 0;
	color:#fff;
	font-size: 10px;
	line-height: 20px;
	width: 0;
	transition: width 400ms;

}

.btn-yellow{
    background : #deb887;
    border: #8C4E30;
    color:white;
}
/* .collapse:not(.show) {
    display: block;
} */

.login-content{
    display:inline-block;
}