.left{
    text-align : left;
}
.center{
        text-align : center;
        display:inline-block;
        margin-top: 80px;
    }   
    
.TopHeader{
    width:100%;
    background:white;
    /* display:flex; */
    text-align:left;
}

.blank{
width : 90px;
height : 5px;
}

.smallblank{
width : 10px;
height : 35px; 
}   


#topMenu {    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display:inline-block;        
    height: 70px; 
    width: 100%; 
    border-bottom: 0.1px solid #979797;
}

#topMenu ul li {                    
    list-style: none;           
    color: white;               
    background-color: white;  
    float: left;                
    line-height: 35px;   
    height: 35px;  
    vertical-align: middle;     
    text-align: center;         
}
    
#topMenu .menuLink {                
    text-decoration:none;       
    color: black;               
    display: block;             
    width: 68px;             
    font-size: 16px;           
    font-weight: bold;           
    font-family: "Trebuchet MS", Dotum, Arial; 
}
    
#topMenu .menuLink:hover {            
    color: black;                   
    background-color: white; 
}

#topMenu .menuLink:active {            
    color: red;
}

#signup_button{
    background-color:#F7F7F7; 
    border: 2px solid #979797;
    border-radius: 7px;
    color: #979797;
    width: 300px;
    height: 30px;
    /* margin : 0px 0px 0px -200px; */
}


#search_text{
    background-color: #FAFAFA;
    border: 2px solid #E1E1E1;
    border-radius: 50px;
    height: 30px; 
    width:200px;
} 

#button_img{
    height: 10%;
    width:10%;
    color : #919191;
}

#button_signup{
    height: 40px; 
    width: 70px;
    background-color: #C28B64;
    border-radius: 5px;
    color: white;
    border-color: #8C4E30;

}

#button_signin{
    height: 40px; 
    width: 70px;
    background-color: white;
    border-color: #CCCCCC;
    border-radius: 5px;

}
main{
    width:100vw;
    height:100vh;
    text-align:center;
}

login{
    background-color:#F7F7F7; 
    border: 2px solid #979797;
    border-radius: 7px;
    color: #979797;
    width: 300px;
    height: 30px;
}

.underbar {
    padding : 15px;
    border-bottom : 3px solid #F7F7F7;
}

.underunder {
    padding : 15px;
}