@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
.nanumgothic * { 
    font-family: 'Nanum Gothic', sans-serif; 
}

html, body{
    margin: 0;
    height: 100vh;
    width: 100%;
}

#main{
    margin-left: 50vh;
    margin-right: 50vh;
}


.back-btn-wrapper{
    /* 위치 설정*/
    position: absolute;
    left: 35vh;
    top: 5px;
}

.back-btn-wrapper > i{
    font-size: 30px;
    color: black;
}

.tm-series-name{
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif; 
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}

.tmtext_info{
    margin-top: 40px;
    border-bottom :1px solid burlywood;
}

.tmtext_info > h3{
    margin-top: 15px;
}


.author_info_box > img{
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
    border-radius: 100px;
    margin-top: 3px;
}

.author_info_box{
    margin-top: 25px;
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
}

#view{
    width: 20px;
    height: 20px;
}

.author-info-text-2{
    font-size: 13px;
    text-align: left;
    margin-left: 12px;
    margin-bottom: 3px;
}

.k{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.k > p{
    margin-left: 3px;
    margin-right: 3px;
}

#author-name2{
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 0;
}

.tmtext_content{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tmtext_genre{
    margin-top:10px;
    border-bottom :1px solid burlywood;
}

.tmtext_genre > button{
    margin-left: 10px;
    font-size: 11px;
    margin-bottom: 15px;
}

.comment{
    border-bottom :1px solid burlywood;
    height: 150px;
}

.comment_title{
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    border-bottom :1px solid burlywood;
}

.comment_title > p{
    margin-left: 15px;
}

.col-1 > img{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 0.5px solid lightgray;
    border-radius: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

.comment_user{
    position: relative;
    display: flex;
    flex-direction: row;
}

.comment_user_info{
    margin-top: 25px;
    margin-left: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
}


#comment_user_name{
    margin-bottom: 5px;
    font-weight: bold;
}

#comment_time{
    margin-top: 25px;
    margin-left: 10px;
}

.new_comment{
    margin-top: 50px;
}

.new_comment_input{
    height: 50px;
    width: 100%;
    margin-left: 70px;
}

.col-3 > button{
    margin-top: 5px;
    margin-left: 80px;
}

.col-2 > button{
    margin-top: 0;
    margin-left: 20px;
    height: 30px;
    font-size: 15px;
}